/* Estilos gerais */
body {
   font-family: Arial, sans-serif;
   margin: 0;
   background-color: #343030;
   color: #fff;
 }
 
 .container {
   max-width: 960px;
   margin: 0 auto;
   padding: 20px;
 }
 
 /* Cabeçalho */
 header {
   text-align: center;
   margin-bottom: 40px;
 }
 
 header h1 {
   margin: 0;
   font-size: 3em;
 }
 
 nav ul {
   list-style: none;
   padding: 0;
 }
 
 nav ul li {
   display: inline;
   margin: 0 15px;
 }
 
 nav a {
   color: #fff;
   text-decoration: none;
 }
 
 /* Player de música */
 .player {
   text-align: center;
   margin-bottom: 40px;
 }
 
 audio {
   width: 100%;
   max-width: 600px;
   margin-top: 20px;
 }
 
 .track-info {
   margin-top: 10px;
 }
 
 .track-info p {
   margin: 5px 0;
 }
 
 /* Discografia */
 .discography h2 {
   text-align: center;
   margin-bottom: 20px;
 }
 
 /* Rodapé */
 footer {
   text-align: center;
   margin-top: 40px;
   padding-top: 20px;
   border-top: 1px solid #333;
 }
 #divImg{
   object-position: center;
   text-align: center; /* Centraliza o conteúdo de texto dentro do container */
   width: 80%; /* Opcional: define uma largura para ver o efeito */
   margin: 0 auto; /* Centraliza o próprio container (se tiver largura definida) */
   border: 1px solid black;
   width: 300px; /* Largura fixa é essencial */
   margin: left auto;
   margin-right: auto; /* Ou use margin: 0 auto; */
   border: 1px solid #000000;
   padding: 15px; /* Espaçamento interno */
  align-items: center;
  
 }
/* From Uiverse.io by gharsh11032000 */ 
.button {
   cursor: pointer;
   position: relative;
   padding: 10px 24px;
   font-size: 18px;
   color: rgb(193, 163, 98);
   border: 2px solid rgb(193, 163, 98);
   border-radius: 34px;
   background-color: transparent;
   font-weight: 600;
   transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
   overflow: hidden;
 }
 
 .button::before {
   content: '';
   position: absolute;
   inset: 0;
   margin: auto;
   width: 50px;
   height: 50px;
   border-radius: inherit;
   scale: 0;
   z-index: -1;
   background-color: rgb(193, 163, 98);
   transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
 }
 
 .button:hover::before {
   scale: 3;
 }
 
 .button:hover {
   color: #212121;
   scale: 1.1;
   box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
 }
 
 .button:active {
   scale: 1;
 }
 
 
 
 


 
 